<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite"  thread-count="2" parallel="tests">
<listeners>
<listener class-name="com.OrangeHRM.utilities.ListenersClass"></listener>
</listeners>
<test name="chrome">
  <parameter name="Browsers" value="chrome"></parameter>
    <classes>
      <class name="com.OrangeHRM.runnerScripts.TC02_VerifyTitle"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
